* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header, article h3 {
    text-align: center;
    font-family: "Cambria", "Courier New", Tahoma, sans-serif;
}


article h3 {
    font-size: 2rem;
    padding: 20px;
    text-shadow: #404040 2px 3px 5px;
    letter-spacing: 1px;
}

header h1 {
    border-bottom: #404040 dashed 5px;
    background-color: #dddddd;
}

main {
    font-family: "cursive", "monospace", Tahoma, sans-serif;
}

article p {
    padding: 20px;
    font-size: 1.2rem;
}

.logo {
    width: 20%;
    height: auto;
}

.Logoparts {
    width: 25%;
    height: auto;
}

.reason {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #252525;
    color: white;
}

.black-section {
    background-color: #252525;
    color: white;
}

.blue-section {
    background-color: cornflowerblue;
    color: white;
}

.dark_blue-section {
    background-color: #0000ff;
    color: white;
}

.float-right {
    order: 2; /* Flexbox property to move the image to the right */
}

footer {
    align-content: center;
    text-align: center;
    padding: 20px;
}

.image-link {
    padding: 10px;
}

.image-link img {
    width: 75px; /* Image width */
    transition: transform 0.2s; /* Smooth hover effect */
}

.image-link img:hover {
    transform: scale(1.1); /* Scale up on hover */
}
